/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */@import url('https://fonts.googleapis.com/css?family=Raleway');
 @import "bootstrap";
 


.background-default {
  background-color: #b6e7cb;
}

.text-default {
 font-family:'Raleway';
}

.alert-new {
  @extend .alert;
  position: relative;
  box-shadow: 0 9px 12px -6px rgba(0,0,0,.2), 0 19px 29px 2px rgba(0,0,0,.14), 0 7px 36px 6px rgba(0,0,0,.12);
}

.button-new {
  @extend .btn;
  backgorund-color: white !important;
  position: relative;
  height: 90px;
  width: 90px;
  border-radius: 10px;
  transition: all 0.7777777s ease 0s;
  box-shadow: 0 9px 12px -6px rgba(0,0,0,.2), 0 19px 29px 2px rgba(0,0,0,.14), 0 7px 36px 6px rgba(0,0,0,.12);
}

.button-new:hover {
  border-radius: 100px;
}

.card-new {
  @extend .card;
  box-shadow: 0 9px 12px -6px rgba(0,0,0,.2), 0 19px 29px 2px rgba(0,0,0,.14), 0 7px 36px 6px rgba(0,0,0,.12);
  border-radius: 10px;
  position: relative;
  top: 60px;
  width: 0px;
  height: 100px;
}